<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block defautStylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
	   {% block header %} 
		<div class="top-bar">
                <div class="top-bar-left">
                    {% block indexHeader %} {% endblock %}
                </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <form method="GET" action="{{path('Product_list_search')}}" >
                        <div class="input-group"> 
                    <input type="search" name="search" placeholder="Search">
                    <div class="input-group-button">
                    <input type="submit" class="button" value="Search">
                </div>
            </div>

                </form>
                </ul>
            </div>
        </div>
		{%endblock%}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
